nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  background: transparent;
  z-index: 100;
  color: #02012D;
  transition: 0.3s ease;

  h1 {
    font-size: 2vw;
    font-weight: lighter;
    font-family: Baby;
  }

  .nav1 {
    width: 40%;
    position: relative;

    .menu-icon {
      width: 50px;
      height: 50px;
      background-color: #02012D;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 101;
    }

    .circle-menu {
      position: absolute;
      top: 20px;
      left: 0;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background-color: #02012D;
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5vw;
      color: #fff;
      z-index: 100;

      h4 {
        cursor: pointer;
        font-size: 2vw;
        transition: all 0.2s ease;

        &:hover {
          scale: 1.1;
          color: #FFF;
        }
      }
    }
  }

  .nav2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;

    i {
      font-size: 1.2vw;
      cursor: pointer;
      background-color: #FFF;
      padding: 10px;
      border-radius: 50%;
    }
  }
}

nav.scrolled {
  background-color: #02012d9d;
  color: #FFF;
  backdrop-filter: blur(20px);

  .nav2 {
    i {
      color: #02012D;
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 3vw 5vw;

    h1 {
      font-size: 6vw;
    }

    .nav1 {
      width: auto;

      .menu-icon {
        width: 40px;
        height: 40px;
      }

      .circle-menu {
        width: 250px;
        height: 250px;
        gap: 4vw;

        h4 {
          font-size: 5vw;
        }
      }
    }

    .nav2 {
      display: none;
    }
  }
}