nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  background: transparent;
  top: 2%;
  z-index: 100;
  color: #02012D;

  h1 {
    font-size: 2vw;
    font-weight: lighter;
    font-family: Baby;
  }

  .nav1 {
    width: 40%;
    position: relative;

    .menu-icon {
      width: 50px;
      height: 50px;
      background-color: #02012D;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 101;
    }

    .circle-menu {
      position: absolute;
      top: 20px;
      left: 0;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background-color: #02012D;
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5vw;
      color: #fff;
      z-index: 100;

      h4 {
        cursor: pointer;
        font-size: 2vw;
        transition: all 0.2s ease;

        &:hover {
          scale: 1.1;
          color: #FFF;
        }
      }
    }
  }

  .nav2 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;

    i {
      font-size: 1.2vw;
      cursor: pointer;
      background-color: #FFF;
      padding: 10px;
      border-radius: 50%;
    }
  }
}