.services {
    min-height: fit-content;
    background-color: #e6f1f8;
    color: #02012d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    padding: 6vw;

    .services-top {
        height: fit-content;
        align-self: flex-start;

        h1 {
            font-size: 4.5vw;
            font-weight: 700;
            letter-spacing: -0.1vw;
            line-height: 1.3;

            >span {
                font-family: PlayFair;
                font-weight: 500;
                display: inline-block;
            }

            .design-line {
                font-family: Nexom;
                font-weight: 700;
                position: relative;
                display: inline-block;

                .line {
                    display: inline-block;
                    width: 6vw;
                    height: 4px;
                    background-color: #02012d;
                    margin-left: 1vw;
                    margin-right: 1vw;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media (max-width: 768px) {
  .services {
    padding: 12vw 6vw;
    gap: 10vw;
    align-items: center;
    text-align: center;

    .services-top {
      align-self: center;

      h1 {
        font-size: 8vw;
        line-height: 1.2;
        letter-spacing: -0.3vw;

        .design-line .line {
          width: 15vw;
          height: 3px;
        }
      }
    }
  }
}
